.register {
	width: 100vw;
	height: 100vh;
	background: rgb(24, 119, 242);
	background: linear-gradient(
		170deg,
		rgb(0, 98, 226) 24%,
		rgba(220, 255, 255, 1) 110%
	);
	display: flex;
	align-items: center;
	justify-content: center;
}

.registerWrapper {
	width: 70%;
	min-width: 800px;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 800px;
}

.registerLeft,
.registerRight {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px auto;
}

.registerLogo {
	font-size: 60px;
	font-weight: 900;
	color: #1775ee;
	margin-bottom: 10px;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: rgb(255, 255, 255);

	width: 80%;
	margin: 10px auto 30px;
	letter-spacing: 0.5px;
}

.registerDesc {
	font-size: 22px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px rgb(68, 68, 68);
	font-weight: 500;
	width: 85%;
	margin: 5px auto;
	max-width: 200px;
	letter-spacing: 0.5px;
}

.registerBox {
	height: 400px;
	min-width: 300px;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 1px solid rgb(190, 203, 247);
	border-radius: 10px;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
	-moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 10px;
	background: linear-gradient(
		165deg,
		rgba(24, 119, 242, 0.2) 50%,
		rgba(255, 255, 255, 0.2) 100%
	);
}

.registerInput {
	height: 45px;
	border-radius: 10px;
	border: 1px solid lightgray;
	font-size: 18px;
	padding-left: 20px;
	min-width: 250px;
}

.registerInput:focus {
	outline: none;
}

.registerForgot {
	text-align: center;
	color: #1775ee;
}

.registerButton {
	width: 60%;
	align-self: center;
	max-width: 200px;
	height: 45px;
	border-radius: 10px;
	border: none;
	background-color: #0e992c;
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	border: 1px solid lightgray;
}

.loginRegisterButtonLink2 {
	height: 45px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background-color: #1775ee;
	border: 1px solid lightgray;
	color: white;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	justify-content: center;
	text-decoration: none;
	align-items: center;
	padding-right: 30px;
	width: 60%;
	max-width: 150px;
}

.loginButton2 {
	border: none;
	background: transparent;
	display: flex;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	color: white;
	font-size: 20px;
	font-weight: 500;
	padding-left: 29px;
}

@media screen and (max-width: 700px) {
	.register {
		height: 110vh;
		width: auto;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.registerWrapper {
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 280px;
		margin: 100px 1px;
	}

	.registerLeft,
	.registerRight {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 280px;
	}

	.registerLeft {
		padding-top: 100px;
	}
	.registerRight {
		padding-bottom: 100px;
	}

	.registerBox {
		height: 350px;
		width: 80%;
		margin-bottom: 200px;
		padding: 10px 0px;
		margin: 10px;
		min-width: 260px;
	}

	.registerInput {
		height: 40px;
		font-size: 15px;
		padding-left: 10px;
		min-width: 225px;
	}

	.registerLogo {
		font-size: 50px;
		font-weight: 900;
		color: #1775ee;
		margin-bottom: 10px;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: rgb(255, 255, 255);

		width: 100%;
		margin: 10px auto 20px;
		letter-spacing: 1.5px;
	}

	.react-span {
		color: #5ff4ff;
		text-shadow: 1px 1px rgb(41, 149, 211);
		text-align: center;
		font-size: 18px;
		letter-spacing: 0.6px;
		padding-left: 5px;
	}

	.registerDesc {
		font-size: 18px;
		color: rgb(255, 255, 255);
		text-shadow: 1px 1px rgb(68, 68, 68);
		font-weight: 600;
		width: 85%;
		margin: 5px auto;
		max-width: 200px;
		letter-spacing: 0.5px;
	}

	.registerButton {
		height: 40px;
		font-size: 16px;
		margin-bottom: 0px;
	}

	.loginRegisterButtonLink2 {
		max-width: 125px;
		height: 40px;
	}

	.loginButton2 {
		padding-right: 15px;
		font-size: 16px;
	}

	.registerButton:focus {
		outline: none;
	}
}
