.share {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 650px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.6);
    color: white;
}

.shareWrapper {
    padding: 10px;
}

.shareTop {
    display: flex;
    align-items: center;
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 1px solid rgb(190, 203, 247);
}

.shareInput {
    border: none;
    background: none;
    border: none;
    width: 80%;
    color: rgb(36, 3, 3);
    font-weight: 550;

    font-size: 16px;
}

.shareInput:focus {
    outline: none;
    border: none;
    background: none;
    border: none;
}

.shareHr {
    margin: 20px;
}

.shareBottom {
    display: flex;

    align-items: center;
    justify-content: center;
}

.shareOptions {
    display: flex;
    margin-left: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgb(58, 13, 13);
}

.shareIcon {
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText {
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.shareButton {
    border: none;
    padding: 5px 8px;
    border-radius: 5px;
    background-color: #1877f2;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.shareButton:hover {
    background-color: rgb(91, 182, 235);
}

/* user uploaded image on post */
.shareImgContainer {
    padding: 0 20px 10px 20px;
    position: relative;
}

.shareImg {
    width: 100%;
    object-fit: cover;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.shareCancelImg {
    position: absolute;
    top: 8px;
    right: 25px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .shareInput {
        font-weight: 500;

        font-size: 14px;
    }

    .shareOptions {
        display: flex;
        margin-left: 30px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }

    .shareOption {
        margin-right: 10px;
    }

    .shareIcon {
        height: 20px !important;
        width: 20px !important;
    }
}
