.topbarContainer {
    height: 70px;
    width: 100%;
    background: rgb(24, 119, 242);
    background: linear-gradient(
        170deg,
        rgba(24, 119, 242, 1) 45%,
        rgba(29, 35, 65, 1) 100%
    );
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: solid 1px white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    -moz-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.topbarLeft {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    margin-left: 0px;
    font-weight: bold;
    color: rgb(250, 250, 250);
    cursor: pointer;
    text-shadow: 1px 1px #156cc4;
    text-decoration: none !important;
    padding-top: 3px;
}

.logo:hover {
    color: #b1edff;
}

.logo-img-topbar {
    height: 35px;
    width: 35px;
    padding-right: 0px;
    margin-right: 2px;
    margin-left: 20px;
    cursor: pointer;
}

.topbarCenter {
    flex: 5;
    margin: auto 10px;
}

.searchbar {
    width: 100%;
    max-width: 300px;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
}

.searchInput {
    border: none;
    outline: none;
    background: none;
    width: 70%;
}

.searchInput:focus {
    outline: none;
}

.topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.topbarLink {
    margin-right: 10px;
    font-size: 14px;
    cursor: pointer;
}

.topbarIcons {
    display: flex;
    padding-top: 5px;
}

.topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 20px;
    margin-bottom: 5px;
    border: 1px solid rgb(190, 203, 247);
}

.hamburger-icon {
    color: white;
    padding-right: 10px;
    padding-left: 0px;
    cursor: pointer;
    height: 30px !important;
    width: 50px !important;
    visibility: visible;
}

/* mobile hamburger drop down menu */

/* sidebar Nav */

.navBar button {
    z-index: 10;
    cursor: pointer;
    border: none;
    background-color: transparent;
    background: none;
    outline: none;
}

.menuNav {
    list-style: none;
    position: fixed;
    display: inline-block;

    top: 71px;
    right: -100px;
    background: rgb(22, 30, 68);

    height: 30px;
    padding: 10px 0px;
    margin: 0px;
    width: 100px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    border-bottom-left-radius: 10px;
}

.menuNav.showMenu {
    height: 30px;
    top: 71px;
    position: absolute;
    width: 100px;
    right: 0px;
    display: inline-block;
    background: rgb(22, 30, 68);

    padding: 10px 0px;
    margin: 0px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.menuNav > li {
    font-size: 14px;
    margin: auto;
    padding-left: 25px;
    padding-top: 5px;
    font-weight: 500;
    line-height: 20px;
    color: white;
}

.menuNav:active,
.menuNav:hover {
    cursor: pointer;
    background: rgba(24, 119, 242) !important;
}

/* media queries */

@media screen and (max-width: 700px) {
    .topbarContainer {
        display: flex;
        justify-content: space-between;
    }

    .topbarLeft {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 20px;
    }
    .logo {
        font-size: 1.3rem;
        margin-left: 0px;
        padding-left: 0px;
        letter-spacing: 0.5px;
        padding-bottom: 5px;
    }

    .logo-img-topbar {
        padding-right: 0px;
        margin-right: 2px;
        margin-left: 0px;
        cursor: pointer;
    }

    .topbarRight {
        justify-content: space-between;
    }

    .topbarImg {
        margin-right: 5px;
        margin-bottom: 5px;
        height: 50px;
        width: 50px;
    }
}
