.homeContainer {
	display: flex;
	width: 100%;
}

/* View Scrollbar */
html {
	overflow-y: hidden;
	overflow-x: hidden;
}

@media screen and (max-width: 700px) {
	.homeContainer {
		flex-direction: column;
		height: calc(100vh - 70px);
	}
}
