.messenger {
    height: calc(100vh - 70px);
    display: flex;
}

/* COMPONENT SCROLL BAR */
/* Only Chrome */
.messenger::-webkit-scrollbar {
    width: 10px;
}
.messenger::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}

.messenger::-webkit-scrollbar-track {
    background-color: rgb(218, 218, 218);
}
.messenger::-webkit-scrollbar-button {
    background-color: #c4c4c4;
}
/* Only IE */
.messenger {
    scrollbar-face-color: #c4c4c4;
    scrollbar-shadow-color: rgb(218, 218, 218);
    scrollbar-highlight-color: #c4c4c4;
}
/* Only FireFox */
.messenger {
    scrollbar-color: #c4c4c4 rgb(218, 218, 218);
    scrollbar-width: thin;
    scrollbar-width: 10px;
}
/* View Scrollbar */
.messenger {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-width: 10px;
}

.chatMenu {
    flex: 3.5;
}

.chatMenuWrapper {
    background-color: rgba(14, 85, 107, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatConversationWrapper {
    align-self: flex-start;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.chatMenuInput {
    background-color: transparent;
    color: white;
    width: 90%;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 1px;
    margin-top: 10px;
}

.chatBox {
    flex: 5.5;
}

.chatBoxWrapper {
    background-color: rgba(58, 64, 66, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.chatBoxBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    width: 100%;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.chatBoxTop {
    overflow-y: scroll;
    padding-right: 10px;
}

/* COMPONENT SCROLL BAR */
/* Only Chrome */
.chatBoxTop::-webkit-scrollbar {
    width: 10px;
}
.chatBoxTop::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
}

.chatBoxTop::-webkit-scrollbar-track {
    background-color: rgb(218, 218, 218);
}
.chatBoxTop::-webkit-scrollbar-button {
    background-color: #c4c4c4;
}
/* Only IE */
.chatBoxTop {
    scrollbar-face-color: #c4c4c4;
    scrollbar-shadow-color: rgb(218, 218, 218);
    scrollbar-highlight-color: #c4c4c4;
}
/* Only FireFox */
.chatBoxTop {
    scrollbar-color: #c4c4c4 rgb(218, 218, 218);
    scrollbar-width: thin;
    scrollbar-width: 10px;
}
/* View Scrollbar */
.chatBoxTop {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-width: 10px;
}

.chatMessageInput {
    margin: 5px;
    min-width: 80%;
    height: 90px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.chatMessageContainer {
    display: flex;
    align-items: center;
    width: 80%;
}

.chatSubmitButton {
    width: 50px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgba(62, 89, 165, 0.9);
    border: 2px solid lightgray;
    padding-left: 5px;
    padding-top: 3px;
    cursor: pointer;
    margin: 5px;
}

.chatOnline {
    flex: 3;
}

.chatMenuWrapper,
.chatOnlineWrapper {
    padding: 0px 10px;
    height: 100%;
}

.chatBoxWrapper {
    padding: 0px;
    height: 100%;
}

.chatOnlineWrapperWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    background-color: rgba(40, 63, 168, 0.75);
    height: 100%;
}

.chatOnlineWrapper {
    align-self: flex-start;

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: fit-content;
}

/* media queries */

@media screen and (max-width: 700px) {
    .chatMenu {
        flex: 2;
    }

    .chatBoxBottom {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-evenly;
        padding-bottom: 60px;
        width: 100%;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
            rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    }
}
