.sidebar {
	flex: 2.5;
	height: calc(100vh - 70px);
	background: rgb(24, 119, 242);
	background: linear-gradient(
		200deg,
		rgb(44, 126, 233, 0.75) 10%,
		rgba(29, 35, 65, 0.7) 80%
	);
	color: white;
	overflow-y: scroll;
	border: 1px solid white;
}
/* COMPONENT SCROLL BAR */

/* Only Chrome */
.sidebar::-webkit-scrollbar {
	width: 10px;
}
.sidebar::-webkit-scrollbar-thumb {
	background-color: #c4c4c4;
}

.sidebar::-webkit-scrollbar-track {
	background-color: rgb(218, 218, 218);
}
.sidebar::-webkit-scrollbar-button {
	background-color: #c4c4c4;
}
/* Only IE */
.sidebar {
	scrollbar-face-color: #c4c4c4;
	scrollbar-shadow-color: rgb(218, 218, 218);
	scrollbar-highlight-color: #c4c4c4;
}
/* Only FireFox */
.sidebar {
	scrollbar-color: #c4c4c4 rgb(218, 218, 218);
	scrollbar-width: thin;
	scrollbar-width: 10px;
}
/* View Scrollbar */
.sidebar {
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;
	scrollbar-width: 10px;
}

.sidebarWrapper {
	padding: 20px;
}

.sidebarList {
	padding: 10px;
	margin: 0;
	list-style: none;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	margin: 0px 0px 30px;
	border: 1px solid rgb(255, 255, 255);
	background-color: rgba(220, 220, 220, 0.05);
}

.sidebarListItem {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.sidebarIcon {
	margin-right: 15px;
}
.buttonDiv {
	display: flex;
	justify-content: center;
}

.sidebarButton {
	max-width: 125px;
	width: 70%;
	border: none;
	padding: 10px 5px;
	border-radius: 5px;
	font-weight: 500;
	color: white;
	background-color: #1877f2;
	border: 1px solid rgb(213, 199, 238);
}

.sidebarButton:hover {
	background-color: rgb(91, 182, 235);
}

.sidebarHr {
	margin: 20px 0;
}

.sidebarFriendList {
	padding: 10px;
	margin: 0;
	list-style: none;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	margin: 30px 0;
	border: 1px solid rgb(255, 255, 255);
	background-color: rgba(220, 220, 220, 0.05);
}

/* media queries */

@media screen and (max-width: 1000px) {
	.sidebar {
		font-size: 12px;
	}

	.sidebarList {
		padding: 10px;
		margin-bottom: 20px;
	}

	.sidebarListItem {
		margin-bottom: 10px;
	}

	.sidebarIcon {
		margin-right: 10px;
	}

	.sidebarButton {
		max-width: 90px;
		width: 70%;
	}
}
@media screen and (max-width: 700px) {
	.sidebar {
		height: fit-content;
		order: 1;
	}
}
