.post {
	width: 100%;

	max-width: 750px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	margin: 30px auto;
	border: 1px solid rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.75);
	color: rgb(100, 52, 52);
}

.postWrapper {
	padding: 20px;
}

.postTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postTopLeft {
	display: flex;
	align-items: center;
}

.postTopRight {
	cursor: pointer;
}

.postProfileImg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	border: 1px solid rgb(190, 203, 247);
	cursor: pointer;
}

.postUsername {
	font-size: 15px;
	font-weight: 500;
	margin: 0 10px;
	cursor: pointer;
}

.postDate {
	font-size: 12px;
}

.postText {
	padding-left: 45px;
}

.postCenter {
	margin: 20px 0;
	display: flex;
	flex-direction: column;
}

.postImg {
	margin-top: 20px;
	justify-self: center;
	align-self: center;
	max-height: 500px;
	max-width: 100%;
	object-fit: contain;
	border: 1px solid rgb(244, 246, 252);
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.postBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.postBottomLeft {
	display: flex;
	align-items: center;
}

.likeIcon {
	width: 24px;
	height: 24px;
	margin-right: 5px;
	cursor: pointer;
}

.postLikeCounter {
	font-size: 15px;
}

.postCommentText {
	cursor: pointer;
	border-bottom: 1px dashed gray;
	font-size: 15px;
}

/* Media Queries */
@media screen and (max-width: 700px) {
	.postUsername {
		font-size: 14px;
	}

	.postProfileImg {
		width: 40px;
		height: 40px;
	}

	.postDate {
		font-size: 11px;
	}

	.postText {
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.5px;
		padding-left: 15px;
	}

	.likeIcon {
		width: 16px;
		height: 16px;
	}

	.postLikeCounter {
		font-size: 12px;
	}

	.postCommentText {
		font-size: 12px;
	}
}
